@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Changed to white */
  --background-end-rgb: 255, 255, 255;   /* Changed to white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  background: rgb(var(--background-start-rgb)); /* Set to white */
}

/* Smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Remove internal border of Ant Design Select */
.no-border-select .ant-select-selector {
    border: none !important;   /* Removes the outer border */
    box-shadow: none !important; /* Removes any box shadow */
  }
  
  /* Optional: Remove focus border too */
  .no-border-select .ant-select-focused .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
  }
  
  /* Optional: Remove the dropdown arrow border */
  .no-border-select .ant-select-arrow {
    border: none !important;
  }
  /* globals.css or styles.css */
* {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Add these styles in your global CSS file */
.slick-prev, .slick-next {
  font-size: 18px;
  color: #061A6E;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px !important; /* Smaller arrows */
}

.slick-prev {
  left: -10px !important; /* Adjusted position */
}

.slick-next {
  right: -10px !important; /* Adjusted position */
}

.slick-prev:hover, .slick-next:hover {
  background-color: #061A6E;
  color: #fff;
}
